.c-button {
    display: block;
    padding: map-get($spacing__map, medium);

    border: none;
    border-radius: $border-radius;

    font-weight: 300;
    letter-spacing: 1px;
}

.c-button.c--full-width {
    width: 100%;
}

.c-button__container {
    padding: 0 map-get($spacing__map, large);
}

#playlist-button {
    margin: auto;
    color: white;
    background-color: $primary-color;
}

@media (min-width : 768px) {
    .c-button.c--full-width {
        max-width: 60vw;
    }

    #playlist-button {
        margin: auto;
        margin-bottom: map-get($spacing__map, large) * 2;
        color: white;
        background-color: $primary-color;
    }
}
