.c-nav-bar__tab-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left:0;
    z-index: $sky-layer;

    margin: 0;
    padding: map-get($spacing__map, large);
    padding-bottom: 0;
    width: 100%;
    height: $nav-bar-height;

    list-style: none;
    box-shadow: 0px -1px 4px 0px $alpha-shadow;
    background-color: $grey-97;
    opacity: .95;
}

a {
    text-decoration: none;
    &:focus {
        text-decoration: none;
        outline: none;
    }
    &:hover {
        text-decoration: none;
    }
}

.c-nav-bar__tab {
    flex-grow: 1;
    margin: 0 8px;

    text-align: center;

    font-size: 11px;
    font-weight: 300;
}

.c-nav-bar__tab-label {
    margin: map-get($spacing__map, small) 0;
    font-weight: 200;
    font-size: 11px;
    color: $grey-70;
}

.c-nav-bar__tab-icon {
    font-size: 24px;
    color: $grey-30;
}

.c-nav-bar__tab.c--active {
    .c-nav-bar__tab-icon {
        color: $primary-color;
    }

    .c-nav-bar__tab-label {
        color: $primary-color;
    }
}

.c-nav-bar__tab-icon {
    &.glyphicon-list {
        display: inline-block;
    }

    &.glyphicon-th {
        display: none;
    }
}

.c-nav-bar__tab:hover .c-nav-bar__tab-label{
    color: $primary-color;
}

@media (min-width : 768px) {
    .c-nav-bar__tab-icon {
        &.glyphicon-list {
            display: none;
        }

        &.glyphicon-th {
            display: inline-block;
        }
    }
}
