.c-search-bar {
    width: 72px;
    padding-right: map-get($spacing__map, large);
    border: none !important;
    transition: width 100ms;
}

.c-search-bar:focus, .c-search-bar.c--active {
    width: 100%;
}

.c-search-bar__container {
    padding: 0 map-get($spacing__map, large);
}

.c-search-bar__dopple {
    width: 100%;
    margin: auto;
    background-color: white;
    border-radius: $border-radius;
    cursor: pointer;
}

.c-search-bar__icon {
    margin-left: map-get($spacing__map, large);
    height: 15px;
    font-size: 12px;
    color: $grey-70;
    opacity: .8;
}

@media (min-width : 768px) {
    .c-search-bar__container {
        margin-bottom: map-get($spacing__map, large) * 2;
    }

    .c-search-bar__dopple.c--full-width {
        max-width: 60vw;
    }

    #playlist-search-bar {
        margin: auto;
        margin-bottom: map-get($spacing__map, large) * 2;
        color: white;
        background-color: $primary-color;
    }
}
