* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica";
    letter-spacing: 1px;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding-top: $nav-bar-height;
    background-color: $primary-color-accent-light;
    overflow: scroll;
}
