* {
    box-sizing: border-box !important;
}

html {
    font-family: "Helvetica";
    letter-spacing: 1px;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding-top: $nav-bar-height;
    background-color: $primary-color-accent-light;
    overflow: scroll;
}

input {
    color: $grey-30;

    &:focus {
        outline-style: none;
    }
}

input[type=text] {
    display: block;
    padding: map-get($spacing__map, medium);
    border: 1px solid $grey-85;
    border-radius: $border-radius;
    font-weight: 300;
    letter-spacing: 1px;
}

::-webkit-input-placeholder { /* Chrome */
    color: $grey-70;
    opacity: .8;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $grey-70;
    opacity: .8;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $grey-70;
    opacity: .8;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: $grey-70;
    opacity: .8;
}
