.c-library__item-content {
    height: $art-size + 2 * map-get($spacing__map, large);
    border-color: $grey-70;
    margin: 0 map-get($spacing__map, large);
}

.c-library__item:active {
    background-color: $primary-color-accent;
}

.c-library__item-art {
    width: $art-size;
    height: $art-size;
    margin: map-get($spacing__map, large);
    border: solid 1px $grey-70;
}

.c-library__item-text {
    flex-grow: 1;
    padding: map-get($spacing__map, large) 0;
    height: 100%;

    overflow: hidden;
    white-space: nowrap;

    h4 {
        margin: 0 0 4px 0;
        width: 100%;
        color: $primary-color;
        font-weight: 300;
        font-size: 14px;
        line-height: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    h5 {
        margin: 0;
        color: $grey-50;
        font-weight: 300;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.c-library__item-disclosure {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 map-get($spacing__map, large);
    font-size: 24px;
    color: $grey-50;
}

#library .c-remove-from-playlist {
    display: none !important;
}

@media (min-width : 768px) {
    .c-library__item {
    }

    .c-library__item:hover {
        background-color: $primary-color-accent;
    }

    .c-library__item-content {
        align-items: center;
        height: inherit;
        padding: map-get($spacing__map, large);
    }

    .c-library__item-art {
        width: 150px;
        height: 150px;
        margin: map-get($spacing__map, large);
        border: solid 1px $grey-70;
    }

    .c-library__item-text {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
