.u-flex-row {
    display: flex !important;
    flex-direction: row !important;

    & .u-grow {
        flex-grow: 1;
    }
}

.u-flex-row.u--middle {
    justify-content: center;
}

.u-flex-row.u--center {
    align-items: center;
    justify-content: center;
}

.u-flex-col {
    display: flex !important;
    flex-direction: column !important;

    & .u-grow {
        flex-grow: 1;
    }
}

.u-flex-col.u--middle {
    justify-content: center;
}

.u-flex-col.u--center {
    align-items: center;
    justify-content: center;
}
