.c-playlist__item-content {
    height: $art-size + 2 * map-get($spacing__map, large);
    border-color: $grey-70;
    margin: 0 map-get($spacing__map, large);
}

.c-playlist__item {
    cursor: pointer;
}

.c-playlist__item:active {
    background-color: $primary-color-accent;
}

.c-playlist__item-art {
    width: $art-size;
    height: $art-size;
    margin: map-get($spacing__map, large);
    border: solid 1px $grey-70;
}

.c-playlist__item-text {
    flex-grow: 1;
    height: 100%;
    padding: map-get($spacing__map, large) 0;

    overflow: hidden;
    white-space: nowrap;

    h4 {
        margin: 0;
        color: $primary-color;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.c-playlist__item-disclosure {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 map-get($spacing__map, large);
    padding: 8px;
    font-size: 24px;
    color: $grey-50;
}

.c-playlist-details__heading-container h1 {
    margin: 0;
    padding-left: map-get($spacing__map, large);
    font-size: 20px;
    color: $primary-color;
}

#playlist-song-list .c-remove-from-playlist {
    display: inherit !important;
}

@media (min-width : 768px) {
    .c-playlist__item {
    }

    .c-playlist__item:hover {
        background-color: $primary-color-accent;
    }

    .c-playlist__item-content {
        align-items: center;
        height: inherit;
        padding: map-get($spacing__map, large);
    }

    .c-playlist__item-art {
        width: 150px;
        height: 150px;
        margin: map-get($spacing__map, large);
        border: solid 1px $grey-70;
    }

    .c-playlist__item-disclosure {
        display: none;
    }

    .c-playlist-details__heading-container {
        margin-bottom: map-get($spacing__map, large);
    }
}
